.home-content {
  margin: 100px 50px;
}
button {
  background-color: #222f67;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 700;
}

.home {
  padding: 64px 16px;
}
h1 {
  color: #283779;
}
p {
  color: #2779a7;
}
